@charset "ISO-8859-1";

.bg-dark {
    background-color: #28a745!important;
}

.nav-header{
	color: white;
}

.nav-header a:hover{
	color: white;
}

.navbar-light .navbar-text a {
    color: white;
}

.navbar-light .navbar-text a:hover {
    color: white;
}

.texto-cinza{
	color: #a29c9c;
}

.texto-vermelho{
	color: red;
	font-weight: bold;
}